# Ignore everything
public/*
*

# But not these files...
!/.gitignore
!.github/workflows/*

!.air.toml

!content/*
!static/*
!static/css/*
!static/img/*

!*.go
!go.sum
!go.mod

!README.md
!LICENSE

# !Makefile

# ...even if they are in subdirectories
!*/
